@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: 38, 38, 38;
  --background-color: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-color: 255, 255, 255;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(var(--background-color));
  color: rgb(var(--foreground-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
